article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

footer, aside, nav, article {  
    font-family: 'EB Garamond', serif;
 	display: block;
}  

#wrapper {
	width: inherit;
	background-color: white;
}

header {
	border-width: 5px;
	border-bottom-style: solid;
	border-color: black;
	margin-top: 1em;
	font-family:  'Miltonian Tattoo', serif;
}

header a:link{color:black}

body {
	background-image: url('../images/backgroundMap.jpg');
	margin: 0 auto;  
   	width: 940px; 
	font-size: 110%; 
}

footer {
	font-size:  .85em;
	border-top-width: medium;
	border-top-style: solid;
	margin-top: 50px;
	padding: 1.5em;
		
}


nav {
	clear: both;
	text-align: center;
	color: white;
	font-size: 100%;
	background-color: black;
	width: inherit;
	
}

a {text-decoration:none;color:FireBrick}


a.small {
	text-decoration: none;
	color: inherit;
	font-size: 75%;
}

article a:link{color:FireBrick;border-bottom:1px dotted}
article a:visited{color:RosyBrown;border-bottom:1px dotted}
footer a:link{color:FireBrick;border-bottom: 1px dotted}
nav a:link{color:white}
nav a:visited{color:white}
header a:link{color:black}
header a:visited{color:black}
.feed a:link{color:FireBrick}
.feed a:visited{color:RosyBrown}


article h1{
	margin-bottom: 0;
}


	
article {
	position: relative;
	
	min-height: 300px;
	//width: 80%;
	max-width:  650px;
	padding-top: 1em;
	padding-left: 2.5em;
}
aside {
	 float: right; max-width: 300px;clear: right;padding-top: 1em;
}

#disqus_thread{
    position: relative; max-width:  650px;padding-top: 2em;padding-left: 2.5em
}


#site-title {
	clear: left;
	float: left;
	font-size: 1.8em;
	padding-left: 1em;
	padding-top: 1em;
}

#site-title a:link{color:black}

#site-description {
	clear:  right;
	float: right;
	text-align: right;
	font-size: .8em;
	padding-top: 3.5em;
	padding-right: 1em;
}

#intro {
	padding-top: 1em;
	padding-left: 1em;
}


#inline {
	float: left;
}
.f img {
float:left;margin-right:5px;margin-bottom:5px;-ms-interpolation-mode:bicubic}

.feed {float:center; background-color:white;margin-top:10px}*/

.form {position:relative;padding-top:2em;padding-left:2.5em}

.content {
	position: relative;
	
	min-height: 300px;
	padding-top: 1em;
	padding-left: 2.5em;
	padding-right: 2em;
}

